// /// /// /// /// /// /// /// //
// /// SERVICES
// /// /// /// /// /// /// /// //

#sln_service-details, #sln_attendant-details {
    padding-bottom: 2em;

    em {color: #aaa;}s
    h3:nth-child(3) {padding-left: 0;}

    .sln-service-price-time {
        input[type='text'] {
            padding: 3px 10px;
            height: auto;
            @include bp(tablet-port) {height: 34px;}
        }

        .col-xs-6:nth-child(4){
            @include bp(phone-port) {
                width: 100%;
            }
        }
    }

    #_sln_service_secondary {display: block;}
    
    input[type="radio"], input[type="checkbox"] {
        margin: 0 .5em;
    }

    #_sln_service_secondary {
        @include bp(phone) {margin: 0 .5em -.6em 0;}
    }

    .services-notavailable, .attendants-notavailable{
        margin: 0 0 1em -.5em;
        @include bp(phone) {margin: 0 0 2em -.5em;}
        @include bp(tablet) {margin: 0 0 2em -.5em;}
        label {
            margin-right: 2em;
            @media only screen and (min-width: 951px) and (max-width: 1279px) {margin-right: .5em;}
            @include bp(phone)  {
                display: block;
                width: 50%;
                float: left;
                margin: 0 0 2em 0em;
                &:last-child {float: none;}
            }
        }
    }

    .services-notavailable-h, .attendants-notavailable-h {
        label {
            margin-right: 2em;
            @include bp(phone) {width: 100%; margin-bottom: 1em;}
        }
    }
}

.post-type-sln_service {
    textarea#excerpt {min-height: 150px;}
}

// /// SERVICES END